---
import Layout from '@layouts/Layout.astro';

interface Props {
    frontmatter: {
        title: string;
        pubDate: string;
        description: string;
    }
}

const { frontmatter } = Astro.props;
const pubDate = new Date(frontmatter.pubDate);
---
<Layout 
    title={frontmatter.title}
    description={frontmatter.description}
>
    <article class="prose h-entry">
        <h1 class="p-name">{frontmatter.title}</h1>
        <div class="text-gray-600 mb-4">
            <time datetime={pubDate.toISOString()}>
                {pubDate.toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    timeZone: 'UTC'
                })}
            </time>
        </div>
        <p class="text-xl text-gray-600 mb-8">{frontmatter.description}</p>
        <slot />
    </article>
</Layout>

<style is:global>
    .prose a {
        @apply text-gray-600 hover:text-gray-900 underline;
    }
</style>